<div>
  <div id="mainPanel" style="width: 420px; float: left"><!-- TODO: style with bootstrap -->

    <div id="statusPanel">
      <span ng-show='blocksStatus.limit !== null'>
        Bloky: {{blocksStatus.used}} / {{blocksStatus.limit}} |
      </span>
      <span ng-show='true'>
        Nástroje: 0 / 5
      </span>
    </div>

    <flocs-maze style="width: 400px; height: 400px"></flocs-maze>

    <div ng-switch="initialState">
        <div ng-switch-when="true">
            <button id="runBtn"
                    ng-click="run()">
                    <!--ng-disabled="noTask">-->
              Run
            </button>
        </div>
        <div ng-switch-default>
            <button id="resetBtn"
                    ng-click="reset()">
              Reset
            </button>
        </div>
    </div>
  </div>

  <div style="float: left"><!-- TODO: style with bootstrap -->
    <flocs-workspace id="workspace"></flocs-workspace>
  </div>
</div>
