<div id="taskEnvironment" class="container-fluid">
<div class="row">

  <flocs-workspace id="workspace"></flocs-workspace>

  <div id="workspace-separator"></div>

  <div id="mainPanel">

    <div id="statusPanel">
      <span ng-show='blocksStatus.limit !== null'>
        Bloky: {{blocksStatus.used}} / {{blocksStatus.limit}} |
      </span>
      <span ng-show='toolsStatus.all !== null'>
        Klíče: {{toolsStatus.picked}} / {{toolsStatus.all}}
      </span>
    </div>

    <flocs-maze id="maze"></flocs-maze>

    <div>
      <span ng-switch="executionStatus.initialState">
        <span ng-switch-when="true">
          <button id="runBtn"
                  ng-click="run()"
                  type="button" class="btn btn-primary">
                  <!--ng-disabled="noTask">-->
            Spusť program
          </button>
        </span>
        <span ng-switch-default>
          <button id="resetBtn"
                  ng-click="reset()"
                  type="button" class="btn btn-warning">
            Reset
          </button>
        </span>
      </span>

      <span id="speedStatus">
        Rychlost:
        <span class="btn-group" ng-click="changeSpeedClicked()">
          <label ng-repeat="s in availableSpeeds" ng-model="settings.speed" class="btn btn-xs btn-default" uib-btn-radio="s">{{s}}</label>
        </span>
      </span>
    </div>

    <div id="instructions">
      <p>
        {{instructions.text}}
      </p>
    </div>

    <button id="giveUpBtn" ng-click="giveUp()" type="button" class="btn btn-default btn-sm">
      Jednodušší úlohu
    </button>

  </div>

</div>
</div>
