<div class="jumbotron">
  <div class="container">
    <h2 translate>PROFILE_PAGE.USERPROFILE</h2>

    <p>
      <dl class="dl-horizontal">
        <dt translate>USERNAME</dt>
        <dd>{{user.username}}</dd>
        <dt translate>PROFILE_PAGE.EMAIL</dt>
        <dd>{{user.email}}</dd>
      </dl>
    </p>
    
    <div ng-if="practiceInfo.available">
    <p>
      <dl class="dl-horizontal">
        <dt translate>PROFILE_PAGE.SOLVED_TASKS_COUNT</dt>
        <dd>{{practiceInfo.solvedTasksCount}}</dd>
        <dt translate>TOTAL_CREDITS</dt>
        <dd>{{practiceInfo.totalCredits}}</dd>
        <dt translate>FREE_CREDITS</dt>
        <dd>{{practiceInfo.freeCredits}}</dd>
        <dt translate>PROFILE_PAGE.AVAILABLE_BLOCKS</dt>
        <dd ng-repeat="block in practiceInfo.availableBlocks">{{block.name}}</dd>
      </dl>
    </p>
    </div>

  </div>
</div>
