<div>

  <div class="modal-header">
      <button
          type="button"
          class="close"
          aria-label="Close"
          ng-click="close()"
          >
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title" translate>SIGN_UP</h4>
  </div>

  <div class="alert alert-danger" role="alert" ng-show="errorMessage" translate>
      {{errorMessage}}
    </div>

  <div class="modal-body">
      <a class="btn btn-danger btn-lg btn-block" ng-click="socialLogin('google-oauth2')">
        <img ng-src="/static/assets/img/icons/fi-social-google-plus.svg" class="social-icon"/>
          {{'LOG_IN' | translate}} {{'VIA_GOOGLE' | translate}}
      </a>
      <a class="btn btn-primary btn-lg btn-block" ng-click="socialLogin('facebook')">
        <img ng-src="/static/assets/img/icons/fi-social-facebook.svg" class="social-icon"/>
          {{'LOG_IN' | translate}} {{'VIA_FACEBOOK' | translate}}
      </a>

      <hr/>

    
    <form name="registerForm" ng-submit="signUp()">
      
      <div class="form-group">
        <input
            class="form-control"
            type="text"
            name="username"
            ng-model="personalDetails.username"
            autofocus
            placeholder="{{'USERNAME' | translate}}"
            required
        />
      </div>

      <!--
      <div class="form-group">
        <input class="form-control" type="text" name="firstname" ng-model="firstname" placeholder="Křestní jméno"/>
      </div>
      <div class="form-group">
        <input class="form-control" type="text" name="lastname" ng-model="lastname" placeholder="Příjmení jméno"/>
      </div>
      -->

      <div class="form-group">
        <input
            class="form-control"
            type="email"
            name="email"
            ng-model="personalDetails.email"
            placeholder="E-mail"
            required
        />
      </div>

      <div class="form-group">
        <input
            class="form-control"
            type="password"
            name="password"
            ng-model="personalDetails.password"
            placeholder="{{'PASSWORD' | translate}}"
            required
        />
      </div>

      <div class="form-group">
        <input
            class="form-control"
            type="password"
            name="validatePassword"
            ng-model="personalDetails.vpassword"
            placeholder="{{'PASSWORD_AGAIN' | translate}}"
            required
        />
      </div>

      <div class="form-group">
        <button
            class="btn btn-primary"
            type="submit"
            translate>
          SIGN_UP
        </button>
      </div>
    </form>
  </div>

</div>
