<!DOCTYPE html>
<html lang="en-US">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>

<body>
<div ng-app="maze-game" ng-controller="appCtrl">
  <flocs-maze id="maze"></flocs-maze>
  <button ng-click='runClick()'>Run</button>
  <button ng-click='resetClick()'>Reset</button>
</div>
</body>

<script src="/static/js/services.js"></script>
<script src="/static/js/controllers.js"></script>
<script src="/static/js/directives.js"></script>
<script src="/static/js/app.js"></script>

</html>
