<div class="container">
  <h2 translate>STATISTICS_PAGE.TITLE</h2>

  <h3>Vyresene ulohy</h3>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>nazev</th>
      <th>kredity</th>
      <th>koncepty</th>
      <th>cas</th>
      <th>flow</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="task in statistics.finishedTasks">
      <td>
        <a ui-sref="practice-task({taskId: task.id})">{{task.title}}</a>
      </td>
      <td>{{task.credits}}</td>
      <td>
        <span ng-repeat="concept in task.concepts">
          <img ng-src="/static/assets/img/{{concept.icon}}"
               height="22"
               title="{{concept.getTranslationKey() | translate}}"
               alt="{{concept.getTranslationKey() | translate}}">
        </span>
      </td>
      <td>
        <flocs-time-meter time="{{task.time}}" percentil="{{task.percentil}}"></flocs-time-meter>
      </td>
      <td translate>{{task.flow.getTranslationKey()}}</td>
    </tr>
    </tbody>
  </table>

</div>
