<div ng-app="flocs.user" ng-controller="loginCtrl">	
    <div ng-if="!user.username"> 
        <form name="loginForm" ng-submit="login()" > 
            <input type="text" ng-model="model.username" placeholder="Username" />{{username}}<br/> 
            <input type="password" ng-model="model.password" placeholder="Password"/>{{password}}<br/>
		    <input type="submit" value="LogIn" /> 
		    <a href="/register">Create profile</a><br/>
            <span class="errorMsg">{{errormsg}}</span> 
		</form> 
    </div> 
    <div ng-if="user.username"> 
        user: {{user.username}} 
        <form ng-submit="logout()">
            <input type="submit" value="LogOut" />
        </form> 
    </div> 
</div>

