/* NOTE: use this file for global styles only */

/* ===== Layout ===== */
html, body {
  height: 100%;
}

html {
  overflow-y: scroll;
}

#page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

#content {
  flex: 1;
}

.navbar {
  margin-bottom: 0px;
}

footer{
  width: 100%;
  padding: 10px 15px;
  margin-top: 40px;
}

/* ===== Colors ===== */
footer{
  background-color: #222;
  color: #7EB5D6;
}

.bg-easy {
  background-color: #337ab7;
}

.bg-flow {
  background-color: #5cb85c;
}

.bg-difficult {
  background-color: #d9534f;
}

/* ===== Other styles ===== */
a {
  cursor: pointer;
}

.invisible {
  visibility: hidden;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
