/* Styles for rz-slider */
/* ----------------------------------------------------- */

.rz-pointer {
  border-radius: 5px;
}

.not-editable .rz-pointer,
.not-editable .rz-ticks .rz-tick {
  cursor: default;
}

.small-meter {
  border: 1px solid #aaa;
  border-radius: 3px;
  padding-top: 3px;
  padding-bottom: 5px
}

.small-meter, .small-meter rzslider {
  width: 76px;
}

.small-meter .rz-pointer {
  border-radius: 3px;
  width: 24px;
  height: 24px;
  /*margin-left: 4px;*/
  margin-top: 4px
}

/* fix position of the tick inside the small handle */
.small-meter rzslider .rz-pointer:after {
  top: 8px;
  left: 8px;
}

.slider-without-labels{
  margin-bottom: 9px;
  margin-top: 9px;
}
