<div>
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" id="svgMaze"
  ng-attr-width="{{visualization.width}}" ng-attr-height="{{visualization.height}}">

  <image ng-repeat="box in visualization.boxes | filter: (box.path)"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         ng-attr-xlink:href="{{box.path}}" xlink:href=""
         ng-attr-height="{{box.height}}"
         ng-attr-width="{{box.width}}"
         ng-attr-x="{{box.x | pixelCoordinates:visualization}}"
         ng-attr-y="{{box.y | pixelCoordinates:visualization}}"
         opacity="1">
  </image>

  <!--<image ng-if="hero"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         ng-attr-xlink:href="{{hero.path}}" xlink:href=""
         ng-attr-height="{{hero.height}}"
         ng-attr-width="{{hero.width}}"
         ng-attr-x="{{hero.x | pixelCoordinates:visualization}}"
         ng-attr-y="{{hero.y | pixelCoordinates:visualization}}"
         opacity="1">
         </image>-->
</svg>
</div>
