<div>

  <div class="modal-header">
      <button
          type="button"
          class="close"
          aria-label="Close"
          ng-click="$dismiss('cancel')"
          >
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title" translate>TASK_COMPLETION.TASK_SOLVED</h4>
  </div>

  <div class="modal-body">
    <ul class="list-group">
      <li class="list-group-item" ng-show="evaluation.earnedCredits != 0">
        <span translate="TASK_COMPLETION.CREDITS_INFO" translate-values="{CREDITS: evaluation.earnedCredits}"/>
          <span ng-if="evaluation.speedBonus"> (<span translate="TASK_COMPLETION.SPEED_BONUS"/>)</span>
      </li>

      <li class="list-group-item" ng-show="evaluation.purchases.length > 0">
        <span translate>TASK_COMPLETION.PURCHASED_BLOCKS</span>:
        <ul>
          <li ng-repeat="p in evaluation.purchases">{{p.name}}</li>
        </ul>
      </li>

      <li class="list-group-item" ng-show="evaluation.earnedCredits != 0">
        <ul class="list-unstyled">
          <li><span translate>TOTAL_CREDITS</span>: {{practiceInfo.totalCredits}}</li>
          <li><span translate>FREE_CREDITS</span>: {{practiceInfo.freeCredits}}</li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="modal-footer">
    <div class="flow-report-form">
      <p translate>TASK_COMPLETION.FLOW_QUESTION</p>
      <button type="button" class="btn btn-info" ng-click="reportFlow('EASY')" translate>TASK_COMPLETION.EASY</button>
      <button type="button" class="btn btn-success" ng-click="reportFlow('RIGHT')" translate>TASK_COMPLETION.RIGHT</button>
      <button type="button" class="btn btn-danger" ng-click="reportFlow('DIFFICULT')" translate>TASK_COMPLETION.DIFFICULT</button>
    <div>
  </div>

</div>
