<nav class="navbar navbar-inverse navbar-static-top" ng-controller="headerCtrl">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button"
              class="navbar-toggle collapsed"
              aria-expanded="false"
              aria-controls="navbar"
              ng-click="navCollapsed = !navCollapsed"
              >
              <span class="sr-only" translate>TOGGLE_NAVIGATION</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="home" translate>TITLE</a>
    </div>

    <div id="navbar"
         class="navbar-collapse collapse"
         ng-class="{'in': !navCollapsed}"
         >
         <!--
           NOTE: for animations, we could use angular-bootstrap collapse component:
           <div ... uib-collapse="navCollapsed">, but uib-collapse causes "scrollbar
           flash". This bug is probably fixed in a newer version of angular-bootstrap,
           but the newer versions require newer Angular (>= 1.4). Another workaround
           is to use collapse, instead of uib-collapse, but it's deprecated.
         -->

      <span class="nav navbar-center">
        <!-- place for state specific header info -->
        <span ng-show="$state.is('practice-task') && session.active">
          <flocs-session-bar ></flocs-session-bar>
        </span>
      </span>

      <ul class="nav navbar-nav navbar-right">

        <li ui-sref-active="{active: 'practice-task'}">
          <a ui-sref="practice-start">
            <span class="glyphicon glyphicon-play"></span>&nbsp;
            <span translate>PRACTICE</span>
          </a>
        </li>

        <li ui-sref-active="active">
          <a ui-sref="statistics">
            <span class="glyphicon glyphicon-stats"></span>&nbsp;
            <span translate>STATISTICS_PAGE.TITLE</span>
          </a>
        </li>

        <li ng-if="practiceInfo.available" uib-dropdown id="credtis-info" class="dropdown">
          <a href id="credits-info-button"
              uib-dropdown-toggle
              class="dropdown-toggle"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              >
            <span class="glyphicon glyphicon-cd"></span> {{practiceInfo.totalCredits}} <span class="caret"></span>
          </a>
          <ul uib-dropdown-menu
              class="dropdown-menu"
              role="menu"
              aria-labelled-by="credits-info-button"
              >
            <li class="dropdown-header">
              <span translate>TOTAL_CREDITS</span>: {{practiceInfo.totalCredits}}
            </li>
            <li class="dropdown-header">
              <span translate>FREE_CREDITS</span>: {{practiceInfo.freeCredits}}
            </li>

          </ul>
        </li>

        <li ng-if="user.logged" uib-dropdown class="dropdown">
          <a href id="logged-menu-button"
              uib-dropdown-toggle
              class="dropdown-toggle"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              >
            <span class="glyphicon glyphicon-user"></span>&nbsp;
            {{user.username}} <span class="caret"></span>
          </a>
          <ul uib-dropdown-menu
              class="dropdown-menu"
              role="menu"
              aria-labelled-by="logged-menu-button"
              >
            <li role="menuitem">
              <a ui-sref="profile">
                <span class="glyphicon glyphicon-wrench"></span>&nbsp;
                <span translate>PROFILE</span>
              </a>
            </li>
            <li role="menuitem">
              <a href ng-click="logout()">
                <span class="glyphicon glyphicon-off"></span>&nbsp;
                <span translate>LOG_OUT</span>
              </a>
            </li>
          </ul>
        </li>
        <li ng-if="!user.logged">
          <a href ng-click="openLoginModal()">
            <span class="glyphicon glyphicon-user"></span>&nbsp;
            <span translate>LOG_IN</span>
          </a>
        </li>

      </ul>
    </div>

  </div>
</nav>
