<footer class="container-fluid" ng-controller="footerCtrl">
    <div class="pull-left">
      <div class="btn-toolbar">
        <button
            type="button"
            class="navbar-btn btn btn-primary"
            ng-click="openFeedbackModal()"
            >
          <span class="glyphicon glyphicon-pencil"></span>&nbsp;
          <span translate>FEEDBACK</span>
        </button>
        <a class="navbar-btn btn btn-default"
           ui-sref="about">
          <span class="glyphicon glyphicon-info-sign"></span>&nbsp;
          <span translate>ABOUT</span>
        </a>
        <span uib-dropdown id="language-selector" class="dropup">
          <button type="button" class="navbar-btn btn btn-default" id="language-selector-button"
              uib-dropdown-toggle
              class="dropdown-toggle"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              >
            <span class="glyphicon glyphicon-globe"></span>&nbsp;
            {{currentLanguageCode}} <span class="caret"></span>
          </button>
          <ul uib-dropdown-menu
              class="dropdown-menu"
              role="menu"
              aria-labelled-by="language-selector-button"
              >
            <li ng-repeat="(code, domain) in languageDomains" role="menuitem">
              <a switch-domain="http://{{domain}}">{{code | languageNativeName}}</a>
            </li>
          </ul>
        </span>
      </div>
    </div>

    <span class="pull-right">
      <a href="http://www.fi.muni.cz/adaptivelearning/">
        <img src="/static/assets/img/alg-logo.png" alt="Adaptive Learning Group logo"/>
      </a>
      <a href="http://www.fi.muni.cz/index.xhtml.en">
        <img src="/static/assets/img/fi-logo.png" alt="Faculty of Informatics, Masaryk University logo"
          height="80px"/>
      </a>
    </span>
</footer>
