<div ng-app="flocs.user" ng-controller="registerCtrl">
	<form  ng-submit="register()" >
		<input type="text" name="username" ng-model="model.username" placeholder="Username"/><br/>
		<input type="text" name="firstname" ng-model="model.firstname" placeholder="First Name"/>
		<input type="text" name="lastname" ng-model="model.lastname" placeholder="Last Name" /><br/>
		<input type="email" name="email" ng-model="model.email" placeholder="E-mail" /><br/>
		<input type="password" name="password" ng-model="model.password" placeholder="Password" />	
		<input type="password" name="validatePassword" ng-model="model.vpassword" placeholder="Password check" /><br/>
		<input type="submit" value="Register!"/>     
	</form>
   <div>
        {{errorMSG}}
    </div>
</div>
