<div id="blocklyDiv" style="height: 480px; width: 600px;"></div>

<xml id="toolbox" style="display: none;">
  <block type="maze_move_forward"></block>
  <block type="maze_turn_left"></block>
  <block type="maze_turn_right"></block>
</xml>

<!--
<xml id="toolbox" style="display: none;">
  <block type="maze_move_forward"></block>
  <block type="maze_turn_left"></block>
  <block type="maze_turn_right"></block>
  <block type="maze_if_then"></block>
  <block type="maze_if_then_else"></block>
  <block type="repeat_n_times"></block>
</xml>
-->
